.productoInicio {
    display: flex;
    justify-content: space-around;
}

.flip-card {
    background-color: transparent;
    width: 40vw;
    height: 400px;
    perspective: 1000px;
    /* margin: 0 auto; */
    padding: 50px;

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

.flip-card-front {
    /* background-image: linear-gradient(90deg, rgba(255, 167, 76, 1) 0%, rgba(252, 190, 126, 1) 100%); */
    background-color: white;
    background-image: url("../../../assets/imagenes/portada.jpg");
    background-size: cover;
}

.flip-card-front img {
    width: 70%;
    margin-top: 1rem;
    z-index: 1;
    position: relative;

}

.flip-card-back {
    color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.flip-card-back::before {
    content: "";
    background-image: url("../../../assets/imagenes/portada.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 20%;
    border-radius: 16px;
}

.flip-card-back img {
    width: 70%;
}

.flip-card-back .label {
    width: 90%;
    /* background-color: #EDBB24; */
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    padding: 2px 20px 2px 20px;
    border-radius: 16px;
    position: absolute;
    top: 10%;
}

.titleHome {
    padding-top: 10vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
}

.typewrite {
    font-size: 40px;
    margin-bottom: 10vh;
}

.titleHome h2 {
    font-size: 22px;
    color: black;
}